.CollectionSlider {
  width: 100%;
  margin: auto;
  background: color;
  height: 300px;
  margin-top: 30px;
  font-family: 'Merienda', serif;
}

.slick-slide img {
  margin: auto;
  text-align: center;
  height: 400px;
  max-height: 400px;
  transform: scaleX(2) scaleY(1.5);
}

.CollectionSlider-image {
  margin: auto;
}

.CollectionSlider-subtitle {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
  padding: 5px;
  position: relative;
  color: black;
  width: fit-content;
  margin: auto;
  top: -200px;
  border-radius: 2px;
}

.CollectionSlider-subtitleText {
  color: white;
}

.CollectionSlider-textSlide {
  max-height: 400px;
  color: white;
  padding: 2%;
  border-radius: 5px;
  background-image: 
    linear-gradient(
      rgba(0, 200, 200, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url('/shopify-collections/tiles.png');
  background-repeat: repeat;
}

.CollectionSlider-textSlide-text {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  padding-bottom: 2px;
}

.CollectionSlider-textSlide h2 {  
  padding: 2%;
  border-radius: 2px;
}
